.chat_password_box {
    border: 3px gray;
    border-radius: 4px;
    width: 250px;
    text-align: center;
    text-overflow: ellipsis;
    height: 40px;
    text-shadow: 1mm;
    background: rgba(75, 30, 30, 0.523);
    text-decoration: black;
}

.create_button {
    align-items: center;
    border: 3px gray;
    border-radius: 4px;
    width: 250px;
    height: 40px;
    text-shadow: 1mm;
    background: rgba(75, 30, 30, 0.523);
    text-decoration: gray;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: block;
    text-decoration: none;
}

.create_button:hover {
    transition: all 0.4s ease-in-out;
    transform: cubic-bezier(1, 0, 0, 1)
}